* {
    box-sizing: border-box;
}

body{
	height:100%;
}
.container{
	padding-left:4%;
	padding-right:4%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Trebuchet MS","Lucida Sans", sans-serif;
}

.center-title{
	padding-top:40px;
}

.hide{
	display:none;
}

.show{
	display:block;
}

.active{
	text-decoration: underline;
}

.qual-list-left{
	padding:15px;
	background: #0099cc;
	opacity: 0.9;
    filter: alpha(opacity=90);
	width:50%;
	border-radius: 5px 20px 20px 5px;
}

.qual-list-right{
	padding:15px;
	background: #0099cc;
	opacity: 0.9;
    filter: alpha(opacity=90);
	width:50%;
	border-radius: 20px 5px 5px 20px;
}

.nlist{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.qual{
	padding-left:20%;
}

.center {
    margin: auto;
    width: 60%;
	padding: 10px;
}

.center-text{
    text-align: center;
}

.fsize{
	font-size: 14px;
}

img{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.header {
    background-color: #0099cc;
    padding-right: 3px;
	padding-left: 3px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu li {
    display: block;
	float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.menu li:hover {
    color: #0099cc;
	cursor:pointer;
}

.menu a:hover {
    color: #0099cc;
	cursor:pointer;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	.fsize{font-size: 16px;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	.fsize{font-size: 20px;}
}